.nav-item .nav-link {
    color: rgba(0,0,0,1) !important;
}

.nav-item .nav-link:hover {
    color: rgba(100,100,100,.5) !important;
}

body {
    font-family: 'Nunito Sans';
    text-align: left;
    margin-left: 180px;
    margin-right: 180px;
}

h3 {
    text-align: center;
    margin-bottom: 70px;
    margin-top: 0;
}

h4 {
    font-size: small;
    margin-top: 0;
    margin-bottom: 0;
}

.container{
    margin-top: 80px;
    display: inline-block;
}

#blogtitle {
    font-size: 6rem;
    text-align: center;
}

@media (min-width: 992px) {
    #hometext {
        font-size: 4rem;
        text-align: left;
    }
    #blogdetailtitle {
        font-size: 5rem;
        text-align: center;
    }
}